/*============@MEDIA===============*/

/*@media (max-width: 1200px) {
    html {
        font-size: 4%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: ;
    }
     
    section {
        padding: ;
    }

    .services-container {
        

    }

}

*/
@media (max-width: 400px) {
    html {
        font-size: 4%;
    }

    .name {
        font-size: 1.2rem;
        padding: 1rem;
        margin-top: 3rem;
        text-align: center;
    }


    .nav li a {
        font-size: 1rem;
        padding-right: 3rem;
        text-align: center;
    }

    .nav li a:hover {
        font-size: 1.1rem;
    }

    .name{
        font-size: 1.3rem;
    }

    .profession{
        font-size: 1.4rem;
        text-align: center;
        padding-left: -2rem;
        font-weight: bold;
    }
   
    .meaning{
        font-size: 1.3rem;
        text-align: center;
        font-weight: bolder;
        margin-top: -5rem;
  
    }

    
/*-----------------ABOUT----------------*/

.about p{
    font-size: 1.2rem;
    text-align: justify;
    margin: 1rem 0.5rem 1rem;
}

h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: -2rem;
}


    .about-services{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-size-adjust: 1rem;
        padding: 1rem 1rem 1rem;
        text-align: center;
        transition: .5s ease;
        background:rgb(255, 255, 255);
        border: .2rem solid var(--bg-color);
        position: relative;

      
    }

/*------------------PROJECT CONTAINER----------------*/

.work-container{
    position: relative;
}
.projects h2{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}

.projects-box-text h3 a{
    font-size: 2rem;
    background-color: aqua;

}

.right-animation h3 a{
   top: 6rem;
}
/*--------------CONTACT SECTION DESIGN--------------*/

.contact h2 {
    font-size: 2.5rem;
    padding-top: 9rem;
    color: rgb(235, 228, 228);

}



/*----------------FOOTER------------------------------------------------+ */

.footer-text p{
    font-size: .7rem;
    margin-top: 3rem;
    text-align: justify;
}
    
}



/*
    .services-container .services-box{
        flex-direction: column;
        align-items: center;
        margin: 0rem 1rem 0;
        
        
    }
   
    .project-container {
        padding: 2rem;
        min-height: 100dvh;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}