/* Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #181818;
    height: 100vh;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header {
    background-color: #181818;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'teko', monospace;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 0.5rem;
}

nav ul li a {
    font-family: 'teko', monospace;
    font-weight: 100;
    color: rgb(253, 252, 252);
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    text-align: left;

}

nav ul li a:hover,
nav ul li a:active {
    background-color: #0188ff;
    color: white;
}

nav .icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {

    nav ul {
        display: none;
        flex-direction: column;
        width: 40%;
        height: 100dvh;
        background-color: #181818;
        position: absolute   !important;
        top: 12%;
        left: 60%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 100;


    }

    nav ul.active {
        display: flex;

    }

    nav .icon {
        display: block;
    }

    nav ul li {
        margin: 0;
        text-align: center;
    
    }
}

@media (max-width: 425px) {
  nav ul{
    flex-direction: column;
    top: 8.5vh;
  }
    /* Additional styles for smaller screens if needed */
}

@media (max-width: 320px) {
    nav ul li a {
        font-size: 1rem;
    }
}

.portfolio h1{
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
  }
   
.projects-container{
    padding: 1rem 0rem 1rem 1rem;
    margin: 0rem 2rem 0rem 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-.1%);
    

  }

 
  .project-1 img{
    position: relative;
    color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(50%);
    border-radius: 40px;
    filter: grayscale(0.75);

  }

  .project-1:hover img{
    content: 'Village Run';
    transform: translate(50%) scale(1.1);
    transition: transform 0.5s ease-in;
    transition: color 0.5s ease;
    opacity: 0.3;


  }

  .middle-1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-1:hover .middle-1 {
    opacity: 1;
  }

  .text-project{
    position: relative;
    padding: 20px 32px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .text-project a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'New amsterdam';
   
    } 
 
/*-------------------------project-2------------------*/
  .project-2 img{
    color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    border-radius: 40px;
    transform: translateX(50%);
  }


  .project-2:hover img{
    content: 'Village Run';
    transform: translate(50%) scale(1.1);
    transition: transform 0.5s ease-in;
    transition: color 0.5s ease;
    opacity: 0.3;


  }


  .project-2:hover .middle-2 {
    opacity: 1;
  }


  .middle-2 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

/*--------------------project 3-------------*/

  .project-3 img{
    position: relative;
    color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    border-radius: 10px;
    transform: translateX(50%);
    border-radius: 40px;
  }


  .project-3:hover img{
    content: 'Village Run';
    transform: translate(50%) scale(1.1);
    transition: transform 0.5s ease-in;
    transition: color 0.5s ease;
    opacity: 0.3;


  }


  .middle-3 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-3:hover .middle-3 {
    opacity: 1;
  }


  /*----------------------project-4------------------*/


  .project-4 img{
    position: relative;
    color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    border-radius: 10px;
    transform: translateX(50%);
    border-radius: 40px;
    filter: grayscale(0.5);
    
  }


  .project-4:hover img{
    content: '';
    transform: translate(50%) scale(1.1);
    transition: transform 0.5s ease-in;
    transition: color 0.5s ease;
    opacity: 0.3;


  }


  .middle-4 {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute !important;
    top: 50%;
    left: 75.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-4:hover .middle-4 {
    opacity: 1;
    

  }
 /*----------------------project-5------------------*/
  .project-5 img{
    display: flex;
    position: relative;
    color: aliceblue;
    padding: 2rem 1rem 2rem 1rem;
    width: 37vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: translateX(35%);
    border-radius: 40px;
    filter: grayscale(0.75);
    
  }

  .project-5:hover img{
    content: '';
    transform: translate(35%) scale(1.1);
    transition: transform 0.5s ease-in;
    transition: color 0.5s ease;
    opacity: 0.3;

  }

  .middle-5{
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute !important;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .project-5:hover .middle-5 {
    opacity: 1;
  }



  @media (max-width: 1024px){
    .middle-1{
      top: 50%;
      left: 26%;
    }

    .middle-2{
      top: 50%;
      left: 76%;
      width: 20%;
    }

    .middle-3{
      padding: .1rem .1rem .1rem .1rem;
      top: 50%;
      left: 26%;
      width: 20%;
    }

    .middle-4{
      padding: .1rem .1rem .1rem .1rem;
      top: 50%;
      left: 76%;
      width: 20%;
    }
   
    .text-project a{
      font-size: 1.5rem;
      font-family: 'new amsterdam';
    } 
  
  }


  @media (max-width: 908px){


    .middle-1{
      top: 50%;
      left: 26%;
      width: auto;
    }

    .middle-2{
      top: 50%;
      left: 76%;
      width: 19%;
    }

    .middle-3{
      top: 50%;
      left: 26%;
    }

    .middle-4{
      top: 50%;
      left: 76%;
    }
   
    .text-project{
      font-size: 1rem;
      font-family: 'Nunito';
      padding: 1rem;
      text-align: center;

    }

    .text-project a{
      font-size: 1rem;
      font-family: 'new amsterdam';
    } 


  }


  @media (max-width: 768px){

    .text-project{
      font-size: 1rem;
      font-family: 'Nunito';
      padding: 1rem;

    }

    .project-1 img{
      width: 70%;
      height: auto;
      transform: translateX(20%);
    }

    .project-1:hover img {
      transform: translateX(20%);
    }

    .project-2 img{
      width: 70%;
      height: auto;
      transform: translateX(15%);
    }

    .project-2:hover img {
      transform: translateX(15%);
    }

    .project-3 img{
      width: 70%;
      height: auto;
      transform: translateX(20%);
    }

    .project-3:hover img {
      transform: translateX(20%);
    }

    .project-4 img{
      width: 70%;
      height: auto;
      transform: translateX(15%);
    }

    .project-4:hover img {
      transform: translateX(15%);
    }


    .middle-1{
      top: 50%;
      left: 26%;
      width: auto;
     
    }

    .middle-2{
      top: 50%;
      left: 74.5%;
      width: auto;
      width: 27%;
    }

    .middle-3{
      top: 50%;
      left: 26%;
      width: auto;
      width: 27%;
    }

    .middle-4{
      top: 50%;
      left: 74%;
      width: auto;
      width: 27%;
    }

    .text-project a{
      font-size: 1rem;
      font-family: 'new amsterdam';
    } 
  }


  @media (min-width: 378px) and (max-width: 445px) {
    .projects-container {
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transform: translateX(-7.5%);
    }
  
    .project-1 img, .project-2 img, .project-3 img, .project-4 img {
      width: 150px;
    }
  
    .project-1 img { transform: translateX(-15%); }
    .project-1:hover img { transform: translateX(-15%) scale(1.1); }
  
    .project-2 img { transform: translateX(15%); }
    .project-2:hover img { transform: translateX(15%) scale(1.1); }
  
    .project-3 img { transform: translateX(-10%); }
    .project-3:hover img { transform: translateX(-10%) scale(1.1); }
  
    .project-4 img { transform: translateX(10%); }
    .project-4:hover img { transform: translateX(10%) scale(1.1); }

    .project-5 img { transform: translateX(1%); width: 43%; }
    .project-5:hover img { transform: translateX(1%) scale(1.1); }
  
    /* Common properties for .middle elements */
    .middle-1, .middle-2, .middle-3, .middle-4 {
      transform: translate(-50%, -50%);
      width: fit-content;
      height: auto;
      align-items: center;
      justify-content: center;
      position: absolute;

    }
  
    .middle-1 { top: 50%; left: 25%; }
    .middle-2 { top: 50%; left: 75%; }
    .middle-3 { top: 50%; left: 27%; }
    .middle-4 { top: 50%; left: 73%; }
    .middle-5 { top: 50%; left: 25%; }
  
    .text-project {
      font-size: 1rem;
      font-family: 'Nunito';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: transparent;
      transition: all 0.5s ease;
      cursor: pointer;
      white-space: nowrap;
      padding: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-project a{
      font-size: 1rem;
      font-family: 'new amsterdam';
    } 
  }


  @media (max-width: 375px){
    nav ul{
      flex-direction: column;
      top: 8.5vh;
    }

    .projects-container {
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transform: translateX(-8.5%);

    }



    .project-1 img, .project-2 img, .project-3 img, .project-4 img {
      width: 120px;
    }


    .project-1 img { transform: translateX(-15%); }
    .project-1:hover img { transform: translateX(-15%) scale(1.1); }
  
    .project-2 img { transform: translateX(15%); }
    .project-2:hover img { transform: translateX(15%) scale(1.1); }
  
    .project-3 img { transform: translateX(-10%); }
    .project-3:hover img { transform: translateX(-10%) scale(1.1); }
  
    .project-4 img { transform: translateX(10%); }
    .project-4:hover img { transform: translateX(10%) scale(1.1); }

    .project-5 img { transform: translateX(18%); width: 38%; }
    .project-5:hover img { transform: translateX(-15%) scale(1.1); }
  
    /* Common properties for .middle elements */
    .middle-1, .middle-2, .middle-3, .middle-4, .middle-5{
      transform: translateX(-50%, -50%);
      width: fit-content;
      height: auto;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;

    }
  
    .middle-1 { top: 50%; left: 27%; }
    .middle-2 { top: 50%; left: 73%; }
    .middle-3 { top: 50%; left: 28%; }
    .middle-4 { top: 50%; left: 73%; }
    .middle-5 { top: 50%; left: 27%; }
  
    .text-project {
      font-size: 1rem;
      font-family: 'Archivo Black';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: transparent;
      transition: all 0.5s ease;
      cursor: pointer;
      white-space: nowrap;
      padding: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-project a{
      font-size: 1rem;
      font-family: 'new amsterdam';
    }
    
  }



  @media (max-width: 320px){
    nav ul{
      flex-direction: column;
      top: 8.5vh;
    }
    .projects-container {
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transform: translateX(-8.5%);

    }



    .project-1 img, .project-2 img, .project-3 img, .project-4 img {
      width: 120px;
    }


    .project-1 img { transform: translateX(-15%); }
    .project-1:hover img { transform: translateX(-15%) scale(1.1); }
  
    .project-2 img { transform: translateX(15%); }
    .project-2:hover img { transform: translateX(15%) scale(1.1); }
  
    .project-3 img { transform: translateX(-10%); }
    .project-3:hover img { transform: translateX(-10%) scale(1.1); }
  
    .project-4 img { transform: translateX(10%); }
    .project-4:hover img { transform: translateX(10%) scale(1.1); }

    .project-5 img { transform: translateX(18%); width: 40%; }
    .project-5:hover img { transform: translateX(-15%) scale(1.1); }
  
    /* Common properties for .middle elements */
    .middle-1, .middle-2, .middle-3, .middle-4, .middle-5 {
      transform: translateX(-50%, -50%);
      width: fit-content;
      height: auto;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;

    }
  
    .middle-1 { top: 50%; left: 23%; }
    .middle-2 { top: 50%; left: 76%; }
    .middle-3 { top: 50%; left: 25%; }
    .middle-4 { top: 50%; left: 73%; }
    .middle-5 { top: 50%; left: 23%; }
  
    .text-project {
      font-size: 1rem;
      font-family: 'Archivo Black';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      background-color: transparent;
      transition: all 0.5s ease;
      cursor: pointer;
      white-space: nowrap;
      padding: 1rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-project a{
      font-size: 1rem;
      font-family: 'new amsterdam';
    } 

    .text-project::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }