

@media (max-width: 320px) {
    #image5{
        visibility: hidden;
    }

    .arrow-down::before {
        margin-left: -1%;

    }

    .time-open{
        margin-left: .1rem;
        
    }



    .container-square{
        width: 30rem;
        height: 40rem;
        margin-left: 0rem;
    }

    .squares{
        margin-top: -15rem;
    }
 

    #poutine{
        padding-left: 6rem;
        padding-right: 6rem;
    }


    #sports-w-friends{
        padding-left: 6rem;
        padding-right: 6rem;
    }


    .about-us-text{
        padding-left: -8rem;
        padding-right: 9rem;
    }

    .all-staff{
        width: 25rem;
        height: 35rem;
        object-fit: contain;
        margin-top: -2rem;
        background-color: transparent;
        box-shadow: none;
        border-radius: 8rem;
    }
    
    #subtext-menu{
        padding-top: 9rem

    }


    .reservations-image{
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        margin-top: 2rem;
        margin-left: 1.5rem;
    
    }
    .button-container{
       display: flex;

      
    }


    .subtext-reservations{
        padding-right: 5rem;
        padding-left: 7rem;
        margin-left: -5rem;
    }

    .event-reservations{
        width: 10rem;
        height: 3rem;
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .table-reservations{
        display: inline-flex;
        width: 10rem;
        height: 3rem;
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-left: 3rem;
    }
    


};



