*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: poppins;
    
}

:root {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}



section {
    height: 100vh;
    flex-direction: column;
    padding: 0 1rem;   
}

.header {
    display: inline-block;
    background-color: rgb(21, 28, 63);
    padding: 20rem 20% 2rem;
    min-width: 100%;
    top: 0;
    bottom: 0;
    z-index: 100;
    min-height: 100vh;
}

.multiple-text{
    color: rgb(13, 197, 238);
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin: 0%;
    color: aliceblue;
    padding-top: 15rem; ;

}

h3 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-align: center;
    color: aliceblue;
    margin-left: 0%;
    padding-bottom: 50;
}

.meaning {
    font-family: "poppins";
    font-size: 2.2rem;
    font-weight:bold;
    color: aliceblue;
    text-align: center;
    padding-top: 22rem;
    text-transform:capitalize;
   
}
  
/* -------Button------------------ */

button{
    margin: auto;
    margin-top: 20px;
    
}

#arrow-button {
    display: flex;
    background-color: rgb(21, 28, 63);
    color: white;
    padding: 11px 15px;
    border-radius: 5px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 1.5rem;
    border-width: 2%;
    border-style: solid;
    

}

#arrow-button > .arrow {
    width: 6px;
    height: 6px;
    border-right: 2px solid rgb(251, 250, 250);
    border-bottom: 2px solid white;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
   
}

#arrow-button > .arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}


#arrow-button:hover > .arrow {
    transform: rotate(45deg);
    translate: (4px, 4px);
    border-color: text-hover-color;
   
}

#arrow-button:hover > .arrow::before {
    opacity: 1;
    width: 8px;
    transform: rotate('45deg');
}

#arrow-button:hover{
    background-color: rgb(13, 197, 238);
    color: rgb(255, 255, 255);
}


/*  ============== NAVIGATION ================== */


.navbar .nav{
    background-color: rgb(3, 3, 51);
    min-width: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0 1%;
    position: fixed;
    height: auto;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    overflow: hidden;
    top: 0;
    z-index: 100;
    
}


ul {
    display: flex;
    font-size: 1.4rem;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content:space-evenly;
    color: aliceblue;
    font-weight: 500;
    padding: 0;

}

.nav li a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all.5s ease;

}

.nav li a:hover{
    font-size: 1.5rem;
    color: rgb(13, 197, 238);
    /*box-sizing: border-box;*/
    /*background-color: whitesmoke;*/
    /*padding: .1rem .1rem;*/
    /*border-radius: .3rem;*/
    transition: all.4s ease;
}

/*----------- About ======================= */
.about-services{
    background-color: rgb(255, 255, 255) ;
    height: auto;
    max-width: 100dvh;
    padding-bottom: 50rem;
    overflow: hidden;
}

.about {
    align-items: center;
    min-width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
   
}

h2{
    font-family: "Nunito", "Helvetica";
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    color: black;
    padding-top: 10rem;
    margin: 3rem 0rem;
}

h2 span{
    color: rgb(13, 197, 238);
}

.about p{
   font-family: "poppins";
   font-size: 1.5rem;
   font-weight: 300;
   color: rgb(3, 3, 3);
   text-align:justify;
   justify-self: flex-end;
   margin: 1rem 6rem;
   padding-top: 1rem;
   line-height: 1.5;
}



/* ------------ Services ==================== */

.services-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 8rem;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    
}

.services-container .services-box{
    flex: 1 1 20rem;
    background:rgb(255, 255, 255);
    padding: 1rem 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    margin: -2rem 1rem 0;
    overflow: hidden;
    

}

.services-container .services-box:hover{
    border-color: rgb(233, 233, 240);
    transform: scale(1.03);
}

.services-box i {
    font-size: 5rem;
    color: rgb(13, 197, 238);
    margin-bottom: 2rem;
}

.services-box h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(15, 79, 135);

}

.services-box p{
    font-size: 1.4rem;
    margin: 1rem 0 2rem; 
    text-align: center;
    justify-content: center;
    overflow: hidden;
}



/*  ------------WORK/PROJECTS-------------*/



.work-container{
    background-color: rgb(21, 28, 63);
    max-height: 100dvh;
}

.projects h2{
    font-family: "Nunito";
    font-size: 2.5rem;
    font-weight: 500;
    color: aliceblue;
    top: 1rem;
    text-align: center;
    padding-top: 1rem;
    margin-top: 0rem;
    
}
.projects-box-text{
    margin-top: 4rem;
}

.projects-box-text h3 a {
    font-family: "poppins";
    font-size: 5rem;
    color: rgb(13, 197, 238);
    font-weight: 300;
}

.projects-box-text h4{
    font-family: "poppins";
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    color: rgb(251, 247, 247);
    
}

.projects-container .projects-box-text h3:hover{
    border-color: rgb(233, 233, 240);
    transform: scale(1.03);
}




/*--------------CONTACT SECTION DESIGN--------------*/
.contact{
    height: 100dvh;
    min-width: 100%;
    background-color: rgb(23, 38, 69); 
    margin-top: -3rem;
    margin-bottom: -5rem;
    
}

.contact h2 {
    font-family: Nunito;
    font-size: 2.5rem;
    padding-top: 15rem;
    color: rgb(235, 228, 228);

}
.contact h2 span{
    color: rgb(13, 197, 238);
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: rgb(5, 5, 5) 1px solid; 
    border-radius: .4rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color:rgb(255, 255, 255);
    
}

.contact form.input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: rgb(5, 5, 5) 1px solid;

}

.contact form .input-box input{
    width: 45%;
}


.contact form textarea{
    resize:none;

}


.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: rgb(13, 197, 238);
    border-radius: 5px;
    border: rgb(5, 5, 5) 1px solid;
    padding: 1rem 2rem;
}

.contact form .btn:hover{
    background-color: rgb(13, 197, 238);
    color: rgb(255, 255, 255);
    transition: .5s ease;
    transform: scale(1.03);
}

/*==============FOOTER DESIGN==========================*/


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: rgb(21, 28, 63);
}

.footer-text p{
    color: whitesmoke;
    font-size: 1.2rem;
    justify-content: center;
    
}

.footer-iconTop{
    display: inline-flex;
    justify-content: right;
    align-items: right;
    padding: 1rem .2rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.footer-iconTop a i{
    font-size: 2.5rem;
    color: aliceblue;
}



/*============@MEDIA===============*/

/*@media (max-width: 1200px) {
    html {
        font-size: 4%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: ;
    }
     
    section {
        padding: ;
    }

    .services-container {
        

    }

}

*/


    

    
