/* Navbar.css */

@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #181818;
    height: 100vh;
    max-width: 100%;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



/* =================LOADING SCREEN================*/
/* Fullscreen loading screen */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #020202; /* Neutral background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

/* Styling for the word NUDE */
.multiple-text {
  text-align: center;
  font-family: 'permanent marker', sans-serif; 
  font-size: 8vw;
  font-weight: bold;
  color: #fbfcfd; /* Bright yellow/gold color */
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(7, 111, 146, 0.5);
  opacity: 1; /* Initially hidden */

}




header {
    background-color: #181818;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    overflow: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'teko', monospace;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
}

nav li {
    margin: 0 0.5rem;
}

nav ul li a {
    font-family: 'teko', monospace;
    font-weight: 100;
    color: rgb(253, 252, 252);
    font-size: 1.4rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    text-align: left;

}

nav ul li a:hover,
nav ul li a:active {
    background-color: #0188ff;
    color: white;
}

nav .icon {
    display: none;
    cursor: pointer;
    font-size: 2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 40%;
        height: 100dvh;
        background-color: #181818;
        position: absolute;
        top: 12%;
        left: 60%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);


    }

    nav ul.active {
        display: flex;
    }

    nav .icon {
        display: block;
    }

    nav ul li {
        margin: 0;
        text-align: center;
    }
}


@media (max-width: 320px) {
    nav ul li a {
        font-size: 1rem;
    }
}



.content{
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, 0%);
    width: 79%;
  }
  
  .content h2{
     position: relative;
     font-size: 40px;
     color: #FCFCF7;
     text-align: left;
     font-family: 'archivo black';
     letter-spacing: 1px;
     padding: 2rem 1rem 1rem 10rem;
     font-weight: 900;
     text-shadow: #181818 1px 1px;
     text-transform: uppercase;
     
     
  }

  .content h2 span{
     color: whitesmoke;
     font-weight: bold;
     font-size: 40px;
 
  }

  .content p{
    position:relative;
    font-size: 1.5rem;
    color: #FCFCF7;
    text-align: left;
    margin-top: 0rem;
    padding: 0rem 1rem 1rem 10rem;
    text-shadow: #181818 1px 1px;
  }

  #description{
    font-size: 1.5rem;
    color: #f3f3ed;
    text-align: left;
    margin-top: 0rem;
    padding: 1rem 0rem 1rem 10rem;
    text-shadow: #181818 1px 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 2rem;

  }

  button {
    width: 15rem;
    background-color: #0470d5;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    animation: color 3s infinite ease-in-out;
    border: 2px solid transparent; /* Transparent border for a cleaner glow */
    box-shadow: 0 0 15px rgb(126, 124, 124); /* Initial glow effect */
    position: relative;
  }
  
  @keyframes color {
    0% {
      color: #0470d5;
    }
    50% {
      color: #FCFCF7;
    }
    100% {
      color: #a49921;
    }
  }
  
  button:hover {
    animation: borderGlow 2s infinite ease-in-out;
  }
  
  @keyframes borderGlow {
    0% {
      box-shadow: 0 0 2px white;
    }
    50% {
      box-shadow: 0 0 20px white;
    }
    100% {
      box-shadow: 0 0 5px white;
    }
  }
     
    
  .languages li a{
    color: rgb(7, 156, 226);
    text-decoration: none;
    text-shadow: #181818 1px 1px;
    font-size: 1rem;
    margin-right: 0.5rem;
  }

    
    

  .contact-button{
    position: relative;
    margin-top: 1rem;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 7rem;
    padding: 1rem 1rem 1rem 3rem;

  }

  .contact{
    position: relative;
    background-color: #0470d5;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
  }

  .contact a{
    color: white;
    text-decoration: none;
    text-shadow: #181818 1px 1px;
  }
  
  .contact a:hover{
    text-decoration: none;
    transition: 0.5s;

  }

 
  .image-AI img{
    display: flex;
    width: 89vw;
    height: auto;
    object-fit: cover; 
    margin-bottom: 2rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }


  /*@media(max-width:768px){
    .icon{
      display: block;
    }

    .content h2{
      font-size:  2rem;
      text-align: left;
    }

  

  }*/



 /* @media (min-width:769px){
    .image-AI{
        top: 10rem;

    }

  }
*/

  @media (max-width:1024px){
   /* .image-AI{
        left: 30%;
        object-fit: cover;
    } 

    .image-AI img{
      width: 60rem;
      height: auto;
    }*/

    .content {
        left: 40%;
        width: 100%;
        
    }
    .content h2{
        max-width: 100%;
        padding: 1rem 1rem 1rem 10rem;

    }

  }


  @media (max-width:768px){

    .content h2{
      font-size: 7vw;
      padding: 1rem 1rem 1rem 6rem;
      margin-top: -20%;

    } 

    .content h2 span{
      font-size: 7vw;
      color: #459ff8;

    }

    .content p{
      font-size: 22px;
      padding: 0rem 1rem 1rem 6rem;
    }

    #description{
      font-size: 18px;
      padding: 2rem 1rem 1rem 6rem;
    }

    button{
      width: 12rem;
      font-size: 1.2rem;
      font-weight: bold;
      transition: 0.5s;
      animation: color 3s infinite ease-in-out;
      border: 2px solid transparent;
      padding: 0rem 1rem 1rem 0rem;
    }

   .contact-button{
     font-size: 1.2rem;
     padding: 0rem 1rem 0rem 0rem;
     margin-left: 6.3rem;
   
    }

    .contact{
      font-size: 1.2rem;
   }
  
   /* .image-AI{
      left: -20%;
      position: fixed;
    }
*/
    .image-AI img{
      width: 120vw;
      height: auto;
      object-fit: cover;

    }
  }


  @media (max-width: 425px){
    nav ul{
      flex-direction: column;
      top: 9vh;
    }


    .content h2{
      font-size: 6vw;
      padding: 0rem 1rem 0rem 5rem;
      font-family: 'archivo black', sans-serif;
      margin-top: -25%;
      text-transform: uppercase;

      

    } 

    .content h2 span{
      font-size: 6vw;
      color: rgb(9, 125, 233);
    }

    .content p{
      font-size: 1rem;
      padding: 0rem 1rem 0rem 5rem;
      
    }

    #description{
      font-size: 1rem;
      padding: 0rem 1rem 5rem 5rem;
      margin-top: -.3vh;
    }

    .contact-button{
      margin-left: 5rem;
      margin-top: 1rem;
    }

    button{
      width: 10rem;
    }

    .contact{
      font-size: .8rem;

    }

    .image-AI{
      margin-left: 5%;
    }

    .image-AI img{
     
      width: 100vw;
      height: 90vh;
    
      

    }
  }

  @media (max-width: 375px){

    nav ul{
      flex-direction: column;
      top: 9vh;
    }

    .content h2{
      font-size: 25px;
      padding: 0rem 1rem 1rem 4rem;
      font-family: 'archivo black', sans-serif;
      text-shadow: #181818 1px 1px;
      margin-top: -20%;

    } 

    .content h2 span{
      font-size: 25px;
    }

    .content p{
      font-size: 1rem;
      padding: 0rem 1rem 2rem 4rem;
      text-shadow: #181818 2px 2px; 
      margin-top: -1vh;

    }

    #description{
      font-size: 1rem;
      padding: 0rem 1rem 2rem 4rem;
    }

    .contact-button{
      margin-left: .1rem;
      margin-top: -1rem;
    }

    button{
      width: 10rem;
      margin-left: 4rem;
    }

    .contact{
      font-size: .8rem;
     

    }

   /* .image-AI{
      top: 2rem;
      left: 70%
    }

    .image-AI img{
      width: 20rem;
      transform: translateX(100%);
  }*/
}


  @media (max-width: 320px){
    nav ul{
      flex-direction: column;
      top: 8.5vh;
    }

    .content h2{
      font-size: 20px;
      padding: 1rem 1rem 1rem 3rem;
      font-family: 'archivo black', sans-serif;
      margin-top: -35%;

    } 

    .content h2 span{
      font-size: 24px;
    }

    .content p{
      font-size: .91rem;
      padding: 1rem 1rem 1rem 3rem;
      

    }

    #description{
      font-size: .9rem;
      padding: 0rem 1rem 1rem 3rem;
    }

    .contact-button{
      margin-left: -1rem;
      margin-top: 1rem;
    }

    button{
      width: 10rem;
      padding: 2rem 1rem 1rem 2rem;
    }

    .contact{
      font-size: 1rem;

    }

   /* .image-AI{
      top: 2rem;
      left: 70%;
    }

    .image-AI img{
      width: 20rem;
  }*/

}